{
    "presets": [["@babel/preset-env", 
      {
        "targets": {
          "chrome": "67",
          "firefox": "60"
        }
      }
    ]],
    "plugins": ["@babel/plugin-proposal-class-properties"]
  } 